@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 6px; /* height for horizontal scrollbar */
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #343432; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

.hideScrollbar {
  /* For Chrome, Safari, and newer Edge */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.hideScrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer Edge */
}

button {
  cursor: pointer !important;
}



.border-1-green-600 {
  border-left-color: #64EAA5;
}


.border-l-green-200 {
    border-left-color: oklch(0.63 0.19 147.36 / 0.24);
}


